 body {
    background-color: #f8f9fa;
    color: white;
}

.container {
    margin-top: 20px;
    width: 95%;
}

/*
.navbar {
    margin-bottom: 20px;
}


.card {
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
} */
