/* CarList.css */

body {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}

.main-container {
  margin: 5%;
  margin-top: 2%;
  color: white;
  width: 90 !important;
  max-width: 90%;
}

.heading {
  color: #f30564;
  font-size: 50px;
}

.main-cont {
  display: flex;
  align-items: start;
  width: 100% !important;
}

.homepage-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  color: #000;
}

.loader{
  display: flex;
  align-items:center ;
  justify-content: center;
  height: 40vh;
  width: 80vh;
}

.car-list {
  margin-bottom: 4%;
}

.car-category {
  margin-bottom: 5%;
}

.card {
  transition: transform 0.2s;
  margin-bottom: 20px;
}


.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  height: 25vh;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 18vh;
}

.card-body {
  padding: 15px;
}


.card-text {
  margin-bottom: 10px;
}

.card-footer {
  background-color: #A0153E !important;
  font-weight: bold;
  color: cyan !important;
  border: none;
}

.card-footer:hover {
  background-color: #C80036 !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-cont {
    flex-direction: column;
    align-items: center !important;
    margin-bottom: 25%;
  }
  .loader{
    margin-top: 20%;
    width: 100%;
    height: 100%;
  }
  .homepage-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .car-list {
    width: 100%;
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 6px 0 0;
  }
}
