.booking-cont {
    max-width: 75%;
    margin: 0 auto;
    color: white;
  }
  
  .horizontal-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .imgCont{
    max-height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .booking-card {
    flex: 0 0 auto;
    padding: 0;
    border: none;
  }
  
  .card-body .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-body .price-text {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .card-body .date-text {
    font-size: 0.9rem;
    color: #555;
  }

  .date-text span{
    font-weight: 600;
  }
 
  .btn-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 20%;
  }
  
  @media (max-width: 768px) {
    .booking-cont {
      margin-bottom: 10vh;
    }
    .btn-cont {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5%;
      max-width: 100%;
    }
    .btn{
      padding: 5px;
      margin: 0 4px;
      font-weight: normal !important;
    }
  }  