.dashboard-container
{
  max-width: 95%;
  height: 95vh;
  margin: auto;
}

.section-header {
  background-color: #f8f9fa;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.car-section h4 {
  margin: 0;
}

