  
  .footer {
    background-color: #f8f9fa;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .footer-cont{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
  }
  
  
  .text {
    color: #554a4a;
    font-size: large;
    font-weight: 500;
  }

  .text:hover{
    color: rgb(20, 20, 20);
  }

  
@media (max-width: 768px) {
 

}