.navbar-nav .nav-item {
    margin-right: 15px; 
    
   }
  
  .navbar-nav .nav-link {
    margin-right: 15px;
  }

  .custom-toggler {
    border-color: rgba(141, 137, 137, 0.1);
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  